/.zig-cache/*
/.idea
/1 - Hello World/.zig-cache/h/c348610c71140e31d2eee26b94db3aa6.txt
/1 - Hello World/.zig-cache/o/14e62bd80fa3b3a0df85124b660c758f/build
/1 - Hello World/.zig-cache/o/14e62bd80fa3b3a0df85124b660c758f/build.o
/5 - command line/.zig-cache/
/6 - command line tool statistics/.zig-cache/
/6 - command line tool statistics/zig-out/
/7 - command line tool file io/.zig-cache/
/7 - command line tool file io/zig-out/
/8 - Build config file parser cli tool/.zig-cache/
/8 - Build config file parser cli tool/zig-out/bin/
/8 - Build config file parser cli tool/zig-out/lib/
/8 - Build config file parser cli tool/zig-out/tests/
